<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246006420532-gcsj071pdq3f79o9id4dj084p429rm1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246006420532-gcsj071pdq3f79o9id4dj084p429rm1l</string>
	<key>API_KEY</key>
	<string>AIzaSyBDqDXkQlgXsXnF6ugr4AsasCvTfPR-gAw</string>
	<key>GCM_SENDER_ID</key>
	<string>246006420532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goygoy.ios</string>
	<key>PROJECT_ID</key>
	<string>goy-goy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>goy-goy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246006420532:ios:43028351efac8dd1e36661</string>
	<key>DATABASE_URL</key>
	<string>https://goy-goy-app.firebaseio.com</string>
</dict>
</plist>